<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleIdentifier</key>
    <string>dev.daniellelewis.Whomst.tutorial</string>
    <key>CFBundleDisplayName</key>
    <string>Whomst Accessibility Workshop</string>
    <key>CDDefaultCodeListingLanguage</key>
    <string>swift</string>
    <key>CDAppleDefaultAvailability</key>
    <dict>
        <key>Whomst</key>
        <array>
            <dict>
                <key>name</key>
                <string>iOS</string>
                <key>version</key>
                <string>26.4</string>
            </dict>
        </array>
    </dict>
</dict>
</plist>
